{% extends 'base.html' %}
{%load static%}
{% load filtros %}

{%block 'head'%}
<link rel="stylesheet" href="{%static '/livro/css/livro_info.css'%}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap" rel="stylesheet">
{%endblock%}
{% block 'conteudo' %}
<div class="container">
  <div class="form-image">
    <img src="{{livro.img.url}}" alt="">
  </div>
  <div class="form">
    <form action="{%url 'solicitar_emprestimo'%}" method="POST"> {%csrf_token%}
      <div class="form-header">
        <div class="title">
          <h1>Informações</h1>
        </div>
        <div class="login-button">
          <input type="hidden" name="livro_id" value="{{livro.id}}">
          <button type="submit"><a>Solicitar Reserva</a></button>
        </div>
      </div>
      <div class="input-group">
        <div class="input-box">
          <label for="name">Nome do livro:</label>
          <h5>{{livro.nome}}</h5>
        </div>

        <div class="input-box">
          <label for="editor">Gênero:</label>
          <h5>{{livro.categoria}}</h5>
        </div>

        <div class="input-box">
          <label for="Sinopse">Sinopse:</label>
          <h5>Antes de se tornar o maior de todos os Lanternas Verdes... antes de inadvertidamente ser o responsável
            pela ruína da Tropa dos Lanternas Verdes... antes de seu renascimento como o mais poderoso protetor do
            universo... o terrestre Hal Jordan era apenas um piloto de testes combalido sem meios para voar... até que o
            alienígena moribundo Abin Sur lhe concedeu seu anel energético, a arma mais poderosa em todo o universo – e
            seu ingresso em uma realidade que Jordan jamais imaginou.Mas há uma origem secreta por trás da bem conhecida
            história de Hal Jordan. E quando ele e seu oficial superior, o lanterna verde Sinestro, investigam a morte
            de Abin, ambos se encontram no rastro de uma mortífera e poderosa criatura que detém o conhecimento dos
            segredos mais sombrios dos Guardiões do Universo – e da profecia oculta que ameaça o fim de toda a vida como
            nós a conhecemos.Ele pode ter vencido muitas batalhas ao longo de sua carreira, mas se Hal Jordan deseja
            realmente entender tudo sobre a ameaça da Noite Mais Densa, ele deve primeiro aprender a verdade enterrada
            em sua origem secreta.</h5>
        </div>

      </div>
    </form>
  </div>
</div>

{% endblock %}