{% extends 'base.html' %}
{%load static%}
{%block 'head'%}
<link rel="stylesheet" href="{%static '/livro/css/livros_list.css'%}">
{%endblock%}



{%block 'conteudo' %}
<div class="container">
    <header>
        <nav>
            <div class="nav-container">
                <a href="{%url 'home'%}">
                    <img id="logo" src="{%static '/livro/img/logo.png'%}">
                </a>
                <ul>
                    <li><a href="{%url 'area_aluno'%}">Área do aluno</a></li>
                    <li><a href="{%url 'meus_livros'%}">Acervo da biblioteca</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div id="main-banner">
        <div id="search-form">
            <h1>Pesquise o livro desejado</h1>
            <p>Aqui você encontrará qualquer livro que esteja disponivel em nossa universidade</p>
            <form method="GET" action="{%url 'meus_livros'%}">
                <input type="text" name="Livro" placeholder="Digite o nome do livro">
                <input type="text" name="Autor" placeholder="Digite o nome do autor">
                <select class="form-select" name="Gênero">
                    <option value="" selected disabled hidden>Escolha um Gênero</option>
                    {%for categoria in categoria%}
                    <option value="{{categoria.id}}">{{categoria.nome}}</option>
                    {%endfor%}
                </select>
                <input type="submit" value="Pesquisar">
            </form>
        </div>
        {%for livro in livros%}
        <div class="row" style="display: inline-block; padding-left: 5%;">
            <div class="col-md-3">
                <div class="livros"><a href="{%url 'livro_info' livro.id%}">
                    <img src="{{livro.img.url}}" class="img i}mg-responsive">
                </a>
                    <div class="livro-name">{{livro.nome}}</div>
                    <div class="livro-username">{{livro.autor}}</div>
                </div>
            </div>
        </div>
        {%endfor%}
        {% endblock %}