{% extends 'base.html' %}


{%block 'conteudo' %}

<div class="container px-lg-5">
  <br>
  <br>
  <br> 

  {%if status == '1'%}
  <div class="alert alert-danger" role="alert">
      Dados invalidos
    </div>
  {%endif%}

  <div class="container px-lg-5">
    <div class="row gx-lg-5">
        {% for livro in livros%}
        <div style="padding:5rem ;" class="col-lg-6 col-xxl-4 mb-5">
            <div class="card bg-dark text-white border-0 h-100" style="width: 20rem;">
              <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                <br>
                <h5 class="card-title">{{livro.nome}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{livro.autor}}</h6>
                {% if livro.alugado %}
                <svg style="display:inline;" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                  </svg>
                {% else %}
                <svg style="display:inline;" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                    <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                  </svg>
                {% endif %}
                <br>
                <br>
                <a href="{% url 'livro_info' livro.id %}" class="btn btn-info" >acessar</a >
              </div>
            </div>
        </div>
        {%endfor%}
    </div>
  </div>
</div>

{% endblock %}